@charset "UTF-8";
*{
	margin: 0 auto;
}

a{
	text-decoration:none;
	color:black;
}

.special-theater-wrap{
	padding: 60px 0 21px;
		margin-bottom:100px;
}

.special-theater{
	width:1280px;

	margin : 0 auto;
}
.special-header{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.special-header h1{
	font-size:30px;
}
.special-header h3{
	margin-left:50px;
	height: auto;   
    font-weight: 700;
    font-size: 26px;
    color: #222;
    line-height: 1.423em;
    background-image: none;
}
.btn-all-theater{
	margin-right:80px;
	padding: 4px 21px 4px 19px;
    font-size: 15px;
    color: white;
    line-height: 1.429em;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
}
/*  **************헤더 끝******************** */
.special-theater-content {
	display: flex;
    justify-content: space-between;
    margin-top: 19px;
}
.special-theater-content a{
    display: block;
    overflow: hidden;
    width: 500px;
    border-radius: 10px;
}
.theater-image-box{
	width:600px;
}
 .theater-image{
	width:600px;
	height:300px;
    position: absolute;   
    display:none;   
} 
#screenx-image{
	display:block;
}
/*  .theater-image{
	width:300px;
	height:180px;
	float:right;
}  */
.special-theater-list{
	overflow: hidden;
    width: 440px;
    height:100%;
}
.special-theater-list li{
	background-color:#e6e6e6;
}
li{
	list-style:none;
	height:24%;
}
.list{
		 border-top: 1px solid transparent;
  		  border: 1px solid #000;
    	border-radius: 10px;
}

.special-theater-content .special-theater-list li a{
	 display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 25px 19px 19px;
}
.special-theater-content .special-theater-list li a strong{
	margin-left:5px;
	font-weight: 400;
    font-size: 18px;
    color: #222;
    line-height: 1.444em;
}
.special-theater-content .special-theater-list li a span{
margin-left:30px;
}