<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot.movie.dao.IMemberDAO">
  	
  	<!-- 로그인 체크 : id/pwd 여러 개를 파라미터로 받아올 때는 hashmap 사용해야 함 -->
  	<!-- 암호화 이전에 사용  -->
 <!--  	<select id="loginCheck" parameterType="hashmap" resultType="string">
  		SELECT memId FROM member WHERE memId=#{id} AND memPwd=#{pwd}
  	</select> -->
  	
  	<!--  암호화한 후 로그인 확인-->
  	<select id="loginCheck" parameterType="string" resultType="string">
  		SELECT memPwd FROM member WHERE memId=#{memId}
  	</select>
  		
  	
  	<!-- 회원 등록 -->
  	<insert id="insertMember">
  		INSERT INTO member( memName,memId, memPwd, memEmail, memBirth, memZipcode, 
  												memAddress1, memAddress2, memCall, hp1,memHP )
  		VALUES (#{memName},#{memId},  #{memPwd},  #{memEmail},#{memBirth},#{memZipcode},#{memAddress1}, #{memAddress2},#{memCall},#{hp1},#{memHP})
  	</insert>
  	<!-- 아이디 중복확인 -->
<select id="idCheck" resultType="int">
  SELECT COUNT(*) FROM member
  WHERE memId = #{memId}
</select>
  </mapper>
  
  
  
  
  
  